#pageName{
	color: #000;
	font-size: 400%;
	font-family: 'Oswald',sans-serif;
	font-style: italic;
}
#headerJumbotron{
	padding-top: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.changeLang{
	color: blue;
	cursor: pointer;
}